

<SearchHeader />

<div class="ml-48">

    <!-- <Loading class="my-10"/> -->

    <!-- <NotFound/> -->
    
    <ul>
        <li v-for="i in 10" class="my-5">
            <ResultItem
                title="Judulnya Agak panjangan dikit gapapa"
                url="https://google.com"
                date="2020-07-03"
                description="Lorem ipsum itu bahasa latin, tapi aku sendiri gak tau artinya apa, gak tau juga siapa yang bekenin bisa-bisanya jadi standar perdisainan"/>
        </li>
    </ul>
</div>
